$tags_list__color: #5E5E5E;
$tags_title__btn: #EEEEEE;

.proto_list_tag{
  width: 100vw;
  // width: 720px;
  min-width: 100%;
  height: 1000px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  .row{
    margin-left: 90px;
    margin-right: 90px;
  }

    .proto_content_tag{
      padding: 0 15px;
      width: 100%;
      height: 80px;
      display: inline-block;
      float: left;

      .thumbnail_tag{
        margin-bottom: 10px;
        border-radius: 2px;
        display: block;

        .tags_title__btn {
          width: 100%;
          height: 50px;
          font-weight: 300px;
          line-height: 22px;
          font-size: 20px;
          padding: 15px 0px 41px 0px;
          text-decoration: none solid rgb(153,153,153);
          text-align: center;
          text-transform: uppercase;
          vertical-align: middle;
          white-space: nowrap;
          background-color: $tags_title__btn;
        }

        .tags_list__number {
          width: 100%;
          height: 20px;
          padding: 3px, 8px, 4px, 8px;
          background-color: $tags_list__color;
          color: $tags_title__btn;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
